* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  background-color: #FFFDF5;
  height: 100%;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}