.page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.pageHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 15px 15px;
}

.pageMain {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
}

.clickerWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statusesLayer {
    display: flex;
    position: absolute;
    bottom: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.statusesFirstLayer {
    width: 600px;
    height: 300px;
}

.statusesSecondLayer {
    width: 800px;
    height: 400px;
}

.statusesThirdLayer {
    width: 1000px;
    height: 500px;
}

.statusesTwoSidesContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.statusesSingleSideContainer {
    display: flex;
    flex-direction: column;
}

.clickerButtonContainer {
    z-index: 1;
}